.btn{
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: magenta;
}

.btn.active{
    background-color: hsl(185, 99%, 15%);
    color: white;
}
.btn.inactive{
    opacity: .3;
    color: black;
}
.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: #018c98;
}